# Ignore dataset
dataset/
dataset_plate/
dataset_processed/
data/
dataset.zip 
*.zip 


# Ignore model training outputs
runs/
weights/
# *.pt
*.pth
*.onnx

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment
.venv/
venv/

# Ignore Jupyter checkpoints


# Ignore OS/editor files
# .DS_Store
# Thumbs.db
.vscode/

# other files 
yolov8.md
*.docs
